<div class="row" style="margin-top: 10px">
  <div class="col-md-6">
    <h1 class="font-setting">SETTING</h1>
  </div>
  <!--<div class="col-md-6 button-right">-->
  <!--<button class="btn btn-outline-success" (click)="openModal(template)">Document Setting</button>-->
  <!--<button class="btn btn-outline-danger" (click)="openModal(template)">User Setting</button>-->
  <!--</div>-->
</div>
<hr style="background-color: #73B1D6; margin-top: 0px">

<div class="border-box">
  <div class="col-md-6 search-box">
    <form class="form-inline">
      <input class="form-control mr-sm-2 table-search" type="search" placeholder="Search" aria-label="Search"
             name="Search" [(ngModel)]="input">
      <button class="btn btn-primary my-2 my-sm-0 search-icon" type="submit" (click)="search(input)">
        <i class="fas fa-search"></i>
      </button>
    </form>
  </div>
  <div class="col-md-6 button-right">
    <button class="btn btn-success btn-document" (click)="open(content)"><img
      src="../../../assets/images/file.png" style="margin-right: 5px ">Document Setting
    </button>
    <button class="btn btn-danger btn-user" (click)="openModal(template)"><img src="../../../assets/images/settings1.png"
                                                                      style="margin-right: 5px ">User Setting
    </button>
  </div>
</div>
<!--<div class="border-table">-->

  <div class="row">
    <div class="col-md-6">
      <div class="" style="margin-top: 10px">
        <tabset>
          <tab heading="Company List" (select)="doc()"></tab>
          <tab heading="Document List" (select)="company()"></tab>
        </tabset>
      </div>

      <ng-template #content let-c="close" let-d="dismiss">
        <div class="modal-header">
          <h4 class="modal-title" style="color: #ffffff;">Document Setting</h4>
          <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true" style="color: #ffffff;">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="border-modal1 col-md-8" *ngIf="showFirst">
              <div class="row" style="margin-top: 10px">
                <div class="col-md-6">
                  <span> Document Name</span>
                  <div style="margin-top: 10px">
                    <p-dropdown [options]="cities1" [(ngModel)]="selectedCity1" (onChange)="postSort()"></p-dropdown>
                  </div>
                </div>
                <div class="col-md-6">
                  <form class="form-inline">
                    <span>New Document</span>
                    <input style="margin-top: 10px" class="form-control" [(ngModel)]="documentNew" name="newDocument">
                  </form>
                </div>
              </div>
              <div class="row" style="margin-top: 10px">
                <div class="col-md-12">
                  <span>Document Detail</span>
                  <input style="margin-top: 10px" class="form-control" [(ngModel)]="documentDetail" name="documentDetail">
                </div>
              </div>
              <div class="row">
                <div class="button-modal2 col-md-12">
                  <button class="btn-primary" (click)="showSecondModel()">Next</button>
                </div>
              </div>
            </div>
            <div class="border-modal1 col-md-8" *ngIf="showSecond">
              <div class="row" style="margin-top: 10px">
                <div class="col-md-12" *ngFor="let table of dataTable; let index = index">
                  <span>Title{{table.id}}</span>
                  <div style="margin-top: 10px">
                    <p-dropdown  [options]="dropTitle" [(ngModel)]="selectedTitle[table.id]"
                                (onChange)="postDropTable()"></p-dropdown>
                    <!--<p-dropdown *ngIf="addtable" [options]="dropTitle" [(ngModel)]="selectedTitle[table.id]"-->
                                <!--(onChange)="postDropTable()"></p-dropdown>-->
                    <img (click)="addTable(table.id)" style="margin-right: 10px; margin-left: 10px" src="../../../assets/images/plus.png">
                      <img (click)="removeTable(table.id)" src="../../../assets/images/forbidden.png">
                  </div>
                </div>
              </div>
              <div class="row" style="margin-top: 10px">
                <div class="col-md-10">
                  <span>New Title</span>
                  <input style="margin-top: 10px" class="form-control" [(ngModel)]="title" name="title">
                </div>
                <div class="col-md-2" style="text-align: center; padding: 36px 0 0 0;">
                  <a (click)="postTable()"><img src="../../../assets/images/plus.png"></a>
                  <!--<a><img src="../../../assets/images/forbidden.png"></a>-->
                </div>
              </div>
              <div class="row">
                <div class="button-modal1 col-md-6">
                  <button class="btn-primary" (click)="showFirstModel()">Back</button>
                </div>
                <div class="button-modal2 col-md-6">
                  <button class="btn-primary" (click)="showThirdModel()">Next</button>
                </div>
              </div>
            </div>
            <div class="border-modal1 col-md-8" *ngIf="showThird">
              <div class="row" style="margin-top: 10px">
                <div class="col-md-12">
                  <span> Company Name</span>
                  <div>
                    <input style="margin-top: 10px" class="form-control" [(ngModel)]="companyNew" name="newCompany">
                  </div>
                </div>
              </div>
              <div class="row" style="margin-top: 10px">
                <div class="col-md-12">
                  <span>Company Initials Name</span>
                  <input style="margin-top: 10px" class="form-control" [(ngModel)]="companyInitial" name="initialCompany">
                </div>
              </div>
              <div class="row">
                <div class="button-modal1 col-md-6">
                  <button class="btn-primary" (click)="showSecondModel()">Back</button>
                </div>
                <div class="button-modal2 col-md-6">
                  <button class="btn-primary" (click)="saveData()">Accept</button>
                </div>
              </div>
            </div>
            <div class="border-modal2 col-sm-4">
              <div class="button-group">
                <button class="btn-outline-primary btn1" style="border-radius: 30px" (click)="showFirstModel()">1
                </button>
                <button class="btn-outline-primary btn2" style="border-radius: 30px" (click)="showSecondModel()">2
                </button>
                <button class="btn-outline-primary btn3" style="border-radius: 30px" (click)="showThirdModel()">3
                </button>
              </div>
              <div class="row">
                <div class=" button-group col-md-12" *ngIf="showFirst">
                  <img src="../../../assets/images/contract1.png">
                  <div style="margin-top: 10px; font-size: 23px; font-weight: 100">Create Document</div>
                </div>
                <div class=" button-group col-md-12" *ngIf="showSecond">
                  <img src="../../../assets/images/spreadsheet.png">
                  <div style="margin-top: 10px; font-size: 23px; font-weight: 100">Create Table</div>
                </div>
                <div class=" button-group col-md-12" *ngIf="showThird">
                  <img src="../../../assets/images/company.png">
                  <div style="margin-top: 10px; font-size: 23px; font-weight: 100">Create Company</div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!--<div class="modal-footer">-->
          <!--<button type="button" class="btn btn-outline-dark" (click)="c('Close click')">Close</button>-->
        <!--</div>-->
      </ng-template>
    </div>
    <div class="col-md-6 search-box">
      <!--<div class="dropdown">-->
      <!--<span class="text">Sort By:</span>-->
      <!--<p-dropdown [options]="cities1" [(ngModel)]="selectedCity1" (onChange)="postSort()"></p-dropdown>-->
      <!--</div>-->
      <!--</div>-->
      <!--<form class="form-inline">-->
      <!--<input class="form-control mr-sm-2 table-search" type="search" placeholder="Search" aria-label="Search" name="Search" [(ngModel)]="input">-->
      <!--<button class="btn btn-outline-success my-2 my-sm-0 search-icon" type="submit" (click)="search(input)">-->
      <!--<i class="fas fa-search"></i>-->
      <!--</button>-->
      <!--</form>-->
    </div>
  </div>

  <div class="row">
    <div class="col-md-12" *ngIf="documentList">
      <div class="table">
        <hotTable [data]="data"
                  (after-change)="afterChange($event)"
                  (after-on-cell-mouse-down)="afterOnCellMouseDown($event)"
                  [colHeaders]="colHeaders"
                  [columns]="columns"
                  [options]="options"
                  [colWidths]="colWidths">
        </hotTable>
      </div>
    </div>
    <div class="col-md-12" *ngIf="companyList">
      <div class="table">
        <hotTable [data]="data"
                  (after-change)="afterChange($event)"
                  (after-on-cell-mouse-down)="afterOnCellMouseDown($event)"
                  [colHeaders]="colHeader"
                  [columns]="column"
                  [options]="options"
                  [colWidths]="colWidths">
        </hotTable>
      </div>
    </div>
    <div class="pagination col-12">
      <!--<ngb-pagination [collectionSize]="dataList" [(page)]="page" [pageSize]="10" [maxSize]="5"-->
      <!--(pageChange)="pageChange()" aria-label="Default pagination"></ngb-pagination>-->
      <pagination
        [totalItems]="totalItems"
        [(ngModel)]="currentPage"
        (pageChanged)="pageChanged($event)"
        pageBtnClass="btn"
        [itemsPerPage]="10"
        class="pull-left">
      </pagination>
    </div>
  </div>
<!--</div>-->
