<div class="row" style="margin-top: 10px">
  <div class="col-md-6">
    <h1 class="font-setting">SETTING</h1>
  </div>
  <!--<div class="col-md-6 button-right">-->
  <!--<button class="btn btn-outline-success" (click)="openModal(template)">Document Setting</button>-->
  <!--<button class="btn btn-outline-danger" (click)="openModal(template)">User Setting</button>-->
  <!--</div>-->
</div>
<!--<hr style="background-color: #73B1D6; margin-top: 0px">-->
<div class="row">
    <div class="col-md-12">
        <h6 style="color: #839192">Quick Statistic</h6>
        <hr>
    </div>
</div>
<div class="row statisitc-row">
    <div class="col-md-3">
        <div class="statistic-box1">
            <h5 style="color: #839192; padding: 10px">Document Type</h5>
            <span>{{totalItems}}</span>
        </div>
    </div>
    <div class="col-md-3">
        <div class="statistic-box2">
            <h5 style="color: #839192; padding: 10px">Document Field</h5>
            <span>{{totalItems}}</span>
        </div>
    </div>
</div>


<div class="" style="margin-top: 10px">
    <tabset>
        <tab heading="Document Type" (select)="doc()"></tab>
        <tab heading="Document Field" (select)="company()"></tab>
    </tabset>
</div>

<!--<div class="border-box">-->
  <!--<div class="col-md-6 search-box">-->
    <!--<form class="form-inline">-->
      <!--<input class="form-control mr-sm-2 table-search" type="search" placeholder="Search" aria-label="Search"-->
             <!--name="Search" [(ngModel)]="input">-->
      <!--<button class="btn btn-primary my-2 my-sm-0 search-icon" type="submit" (click)="search(input)">-->
        <!--<i class="fas fa-search"></i>-->
      <!--</button>-->
    <!--</form>-->
  <!--</div>-->
  <!--<div class="col-md-6 button-right">-->
    <!--<button class="btn btn-success btn-document" (click)="open(content)"><img-->
      <!--src="../../../assets/images/file.png" style="margin-right: 5px ">Document Setting-->
    <!--</button>-->
  <!--</div>-->
<!--</div>-->
<!--<div class="border-table">-->

  <div class="row">
    <div class="col-md-6">
      <ng-template #content let-c="close" let-d="dismiss">
        <div class="modal-header">
          <h4 class="modal-title" style="color: #ffffff;">Document Setting</h4>
          <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true" style="color: #ffffff;">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="border-modal1 col-md-8" *ngIf="showFirst">
              <div class="row" style="margin-top: 10px">
                <div class="col-md-12">
                    <span>Document Type</span>
                    <input style="margin-top: 10px" class="form-control" [(ngModel)]="documentType" name="newDocument">
                </div>
              </div>
              <div class="row" style="margin-top: 10px">
                <div class="col-md-12">
                  <span>Document Description</span>
                  <input style="margin-top: 10px" class="form-control" [(ngModel)]="documentDetail" name="documentDetail">
                </div>
              </div>
              <div class="row">
                <div class="button-modal2 col-md-12">
                  <button class="btn-primary" (click)="showSecondModel()">Next</button>
                </div>
              </div>
            </div>
            <div class="border-modal1 col-md-8" *ngIf="showSecond">
              <div class="row" style="margin-top: 10px">
                  <!--<div class="col-md-5">-->
                      <!--<span>Document Field List</span>-->
                  <!--</div>-->
                  <div class="col-md-6 field-lists">
                      <!--<ul>-->
                          <!--<li *ngFor="let field of Field; let index = index" pDraggable="Field"-->
                              <!--(onDragStart)="dragStart($event,field)" (onDragEnd)="dragEnd($event)">-->
                                <!--<div class="row">-->
                                    <!--<div class="col-md-2">-->
                                        <!--<span>{{field.name}}</span>-->
                                    <!--</div>-->
                                    <!--<div class="col-md-4">-->
                                        <!--<span>{{field.condition}}</span>-->
                                    <!--</div>-->
                                    <!--<div class="col-md-2">-->
                                        <!--<span>{{field.key}}</span>-->
                                    <!--</div>-->
                                <!--</div>-->
                          <!--</li>-->
                      <!--</ul>-->
                      <p-dataScroller [value]="Field" [rows]="10" [inline]="true" scrollHeight="300px">
                          <p-header>
                              Document Field List
                          </p-header>
                          <ng-template let-field pTemplate="body">
                              <div class="row" style="border-bottom: 1px solid #D5D5D5;">
                                  <div class="col-md-3 i">
                                      <img src="../../../assets/images/field.png">
                                  </div>
                                  <div class="col-md-7">
                                      <div class="row">
                                          <div class="col-md-4">Name:</div>
                                          <div class="col-md-8">{{field.name}}</div>

                                          <div class="col-md-5">Condition:</div>
                                          <div class="col-md-7">{{field.condition}}</div>

                                          <div class="col-md-4">Key:</div>
                                          <div class="col-md-8">{{field.key}}</div>

                                      </div>
                                  </div>
                                  <div class="col-md-2">
                                      <p-checkbox name="groupname" [value]="field" [(ngModel)]="fieldValue"></p-checkbox>
                                  </div>
                              </div>
                          </ng-template>
                      </p-dataScroller>
                  </div>
                  <div class="col-md-6 user-list">
                       <p-dataScroller [value]="fieldValue" [rows]="10" [inline]="true" scrollHeight="300px">
                          <p-header>
                              User Field List
                          </p-header>
                          <ng-template let-field pTemplate="body">
                              <div class="row" style="border-bottom: 1px solid #D5D5D5;">
                                  <div class="col-md-3 i">
                                      <img src="../../../assets/images/field.png">
                                  </div>
                                  <div class="col-md-9">
                                      <div class="row">
                                          <div class="col-md-4">Name:</div>
                                          <div class="col-md-8">{{field.name}}</div>

                                          <div class="col-md-5">Condition:</div>
                                          <div class="col-md-7">{{field.condition}}</div>

                                          <div class="col-md-4">Key:</div>
                                          <div class="col-md-8">{{field.key}}</div>
                                      </div>
                                  </div>
                              </div>
                          </ng-template>
                      </p-dataScroller>
                  </div>
              </div>
                <hr>
              <div class="row documentfield-add">
                  <p-card title="Document Field">
                      <div class="row fieldName">
                          <div class="col-md-4">
                              <span style="margin-right: 10px">Document Field Name</span>
                          </div>
                          <div class="col-md-8">
                              <input style="margin-top: 10px" class="form-control" [(ngModel)]="fieldName" name="title">
                          </div>
                      </div>
                      <div class="row">
                          <div class="col-md-4">
                              <span style="margin-right: 10px">Document Field Condition</span>
                          </div>
                          <div class="col-md-8" style="margin-top: 10px">
                              <p-dropdown [options]="cities1" [(ngModel)]="fieldCondition"></p-dropdown>
                          </div>
                      </div>
                      <div class="row" style="margin-top: 10px">
                          <div class="col-md-6" style="text-align: end;">
                              <p-radioButton name="groupname" value="required" label="Required"
                                             [(ngModel)]="req"></p-radioButton>
                          </div>
                          <div class="col-md-6" style="text-align: start;">
                              <p-radioButton name="groupname" value="optional" label="Optional"
                                             [(ngModel)]="req"></p-radioButton>
                          </div>
                      </div>
                      <div class="row">
                          <div class="col-md-12" style="text-align: end;">
                              <a (click)="postTable()"><img src="../../../assets/images/plus.png"></a>
                              <!--<a><img src="../../../assets/images/forbidden.png"></a>-->
                          </div>
                      </div>
                  </p-card>
              </div>
              <div class="row">
                <div class="button-modal1 col-md-6">
                  <button class="btn-primary" (click)="showFirstModel()">Back</button>
                </div>
                <div class="button-modal2 col-md-6">
                  <button class="btn-primary" (click)="saveData()">Accept</button>
                </div>
              </div>
            </div>
            <div class="border-modal2 col-md-4">
              <div class="button-group">
                <button class="btn-outline-primary btn1" style="border-radius: 30px" (click)="showFirstModel()">1
                </button>
                <button class="btn-outline-primary btn2" style="border-radius: 30px" (click)="showSecondModel()">2
                </button>
              </div>
              <div class="row">
                <div class=" button-group col-md-12" *ngIf="showFirst">
                  <img src="../../../assets/images/contract1.png">
                  <div style="margin-top: 10px; font-size: 23px; font-weight: 100">Create Document</div>
                </div>
                <div class=" button-group col-md-12" *ngIf="showSecond">
                  <img src="../../../assets/images/spreadsheet.png">
                  <div style="margin-top: 10px; font-size: 23px; font-weight: 100">Create Table</div>
                </div>
                <div class=" button-group col-md-12" *ngIf="showThird">
                  <img src="../../../assets/images/company.png">
                  <div style="margin-top: 10px; font-size: 23px; font-weight: 100">Create Company</div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!--<div class="modal-footer">-->
          <!--<button type="button" class="btn btn-outline-dark" (click)="c('Close click')">Close</button>-->
        <!--</div>-->
      </ng-template>
    </div>
  </div>

  <div class="row">
      <div class="col-md-6 search-box">
          <form class="form-inline">
              <input class="form-control mr-sm-2 table-search" type="search" placeholder="Search" aria-label="Search"
                     name="Search" [(ngModel)]="input">
              <button class="btn btn-primary my-2 my-sm-0 search-icon" type="submit" (click)="search(input)">
                  <i class="fas fa-search"></i>
              </button>
          </form>
      </div>
      <div class="col-md-6 button-right">
          <button class="btn btn-success btn-document" (click)="open(content)"><img
                  src="../../../assets/images/file.png" style="margin-right: 5px ">Document Setting
          </button>
      </div>
      <div class="pagination col-12">
          <ngb-pagination [collectionSize]="totalItems" [(page)]="currentPage" [pageSize]="10" [maxSize]="5"
          (pageChange)="pageChanged($event)" aria-label="Default pagination"></ngb-pagination>
          <!--<pagination-->
                  <!--[totalItems]="totalItems"-->
                  <!--[(ngModel)]="currentPage"-->
                  <!--(pageChanged)="pageChanged($event)"-->
                  <!--pageBtnClass="btn"-->
                  <!--[itemsPerPage]="10"-->
                  <!--class="pull-left">-->
          <!--</pagination>-->
      </div>
    <div class="col-md-12" *ngIf="documentList">
      <div class="table">
        <hotTable [data]="data"
                  (after-change)="afterChange($event)"
                  (after-on-cell-mouse-down)="afterOnCellMouseDown($event)"
                  [colHeaders]="colHeaders"
                  [columns]="columns"
                  [options]="options"
                  [colWidths]="colWidths">
        </hotTable>
      </div>
    </div>
    <div class="col-md-12" *ngIf="companyList">
      <div class="table">
        <hotTable [data]="data"
                  (after-change)="afterChange($event)"
                  (after-on-cell-mouse-down)="afterOnCellMouseDown($event)"
                  [colHeaders]="colHeader"
                  [columns]="column"
                  [options]="options"
                  [colWidths]="colWidths">
        </hotTable>
      </div>
    </div>
  </div>
<!--</div>-->
