.table {
  margin-top: 10px;
  //box-shadow: 3px 3px 28px 3px #9E9E9E
  box-shadow: 1px 2px 11px 0px #9E9E9E;

}

.dropdown {
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
  align-items: center;
}

.text {
  font-family: 'Rubik', sans-serif;
  font-size: larger;
  margin-right: 10px;
}

.pagination {
  display: flex;
  justify-content: center;
}

.button-right {
  text-align: right;
  padding: 13px;
}

.font-setting {
  font-family: 'Rubik', sans-serif;
  font-weight: 500;
}

/deep/ {
  .handsontable tr td {
    text-align: center;
    height: 40px;
    vertical-align: middle;
    font-family: 'Source Sans Pro', sans-serif;
    //border: 0;
  }

  .handsontable table th {
    text-color: #B2B2FF; /* pink ish */
    background-color: #ffffff; /* red */
    height: 40px;
    vertical-align: middle;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 700;
    //border: 0;

  }

  .ht_master tr:nth-of-type(odd) > td {
    background-color: #f9f9f9;
  }

  .ht_clone_top_left_corner th {
    border-bottom: 1px solid #f9f9f9;
  }

  .nav-tabs .nav-link.active {
    background: #5697ED;
    color: #fefefe;
  }

  .nav-tabs .nav-link {
    color: #6C8784;
  }

  .page-item.active .page-link {
    background-color: #153343;
    border-color: #153343;
  }

  .modal-header {
    background-color: #153343;

  }

  .modal-content {
    width: 1057px;
  }

  .modal-lg {
    max-width: 1003px;
  }
}

.search-box {
  display: flex;
  //justify-content: flex-end;
}

.border-box {
  //border: 1px dotted #cbcbcb;
  //width: 88vw;
  //height: 4vw;
  margin-top: 38px;
  margin-bottom: 38px;
  display: flex;
  justify-content: center;
  background-color: #f9f9f9;
  //box-shadow: 3px 3px 28px 3px #9E9E9E;
  box-shadow: 1px 2px 11px 0px #9E9E9E;
}

.btn-document {
  background-color: #1ABC9C;
  border-color: #1ABC9C;
  box-shadow: 1px 2px 11px 0px #9E9E9E;

}

.btn-user {
  background-color: #696969;
  border-color: #696969;
}

.border-modal1 {
  border: 0;
  border-shadow: 0px 1px 6px 0;
  background-color: #f9f9f9;

}

.border-modal2 {
  border: 0;
  border-shadow: 0px 1px 6px 0;
}

.modal-body {
  padding: 0px 0px 12px 15px;
}

.button-modal2 {
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
}

.button-modal1 {
  display: flex;
  justify-content: flex-start;
  margin-top: 10px;
}

.button-group {
  //display: flex;
  //justify-content: center;
  text-align: center;
  margin-top: 10px;
}

.btn1:active, .btn2:active, .btn3:active {
  background-color: #162e5b;
}

.table-search {
  //border-radius: 24px;
  width: 451px;
}

//
.search-icon {
  //border-radius: 49px;
  background-color: #153343;
  border-color: #153343;
}

.statistic-box1 {
  //box-shadow: 3px 3px 28px 3px #9E9E9E
  box-shadow: 1px 2px 11px 0px #9E9E9E;
  text-align: center;
  font-size: 57px;
  color: #E67E22;
  background-color: #fff;
}

.statistic-box2 {
  //box-shadow: 3px 3px 28px 3px #9E9E9E
  box-shadow: 1px 2px 11px 0px #9E9E9E;
  text-align: center;
  font-size: 57px;
  color: #17A589;
  background-color: #fff;

}

.statisitc-row {
  display: flex;
  justify-content: center;
}

.documentfield-add {
  margin-top: 10px;
  flex-direction: column;
  padding: 10px;
  //background: #EAECEE;
  //box-shadow: 10px 10px 5px -15px rgba(0, 0, 0, 0.75)
}

.fieldName {
  align-items: center;
}

.field-list {
  //background: #EAECEE;
  //box-shadow: 10px 10px 5px -15px rgba(0, 0, 0, 0.75);
  overflow: scroll;
  //width: 200px;
  height: 300px;
}

.user-list {
  //background: #EAECEE;
  //margin-left: 117px;
  //box-shadow: 10px 10px 5px -15px rgba(0, 0, 0, 0.75);
  overflow: scroll;
  //height: 300px;
}

.i {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-right: 0;
}