<div class="sidebar">
  <div class="burger-menu">
    <i class="fa fa-bars fa-2x"></i>
  </div>
  <div class="collapse-menu">
    <ul>
      <li routerLinkActive="active-li">
        <a [routerLink]="['/homepage']">
          <i class="fa fa-file-text-o" aria-hidden="true">Contracts</i>
        </a>
      </li>
      <li routerLinkActive="active-li">
        <a [routerLink]="['/dashboard']">
          <i class="fa fa-file-o" aria-hidden="true"></i>
        </a>
      </li>
      <li routerLinkActive="active-li">
        <a [routerLink]="['/fiscal']">
          <i class="fa fa-clock-o" aria-hidden="true"></i>
        </a>
      </li>
      <li routerLinkActive="active-li">
        <a [routerLink]="['/project-management', 'list']">
          <i class="fa fa-clock-o" aria-hidden="true"></i>
        </a>
      </li>
      <li routerLinkActive="active-li">
        <a [routerLink]="['/logs']">
          <i class="fa fa-tags" aria-hidden="true"></i>
        </a>
      </li>
    </ul>
  </div>
  <div class="menu">
    <ul>
      <li class="navbar-logo" routerLinkActive="">
        <a class="icon-desktop-logo" [routerLink]="['']">
          <span style="font-weight: 700; font-size: 16px; font-family: 'Roboto', sans-serif; margin-left: 16px ">HERO
            <img class="" style="width: 27%" src="../../../assets/images/folder.png"/>
          </span>
          <span style="font-weight: 700; font-size: 26px">FILES</span>
          <!--<img src="../../../assets/images/superhero2.png">-->
          <!--<div style="font-size: 25px;font-weight: 300;">HERO</div>-->
        </a>
      </li>
    </ul>
    <ul>
      <li class="icon-desktop" routerLinkActive="">
        <a class="icon-desktop" [routerLink]="['']">
          <img src="../../../assets/images/contract.png">
          <!--<img src="../../../assets/images/writing.png">-->
          <!--<i class="far fa-4x	fa-file-alt"></i>-->
          <div class="icon-margin">Documents</div>
        </a>
      </li>
      <li class="icon-desktop" routerLinkActive="">
        <a class="icon-desktop" [routerLink]="['']">
          <img src="../../../assets/images/clock.png">
          <!--<i class="far fa-4x fa-clock"></i>-->
          <div class="icon-margin">Expired</div>
        </a>
      </li>
      <li class="icon-desktop" routerLinkActive="active-li">
        <a class="icon-desktop" [routerLink]="['/homepage']">
          <img src="../../../assets/images/settings.png">

          <!--<i class="far fa-4x fa-clock"></i>-->
          <div class="icon-margin">Document Settings</div>
        </a>
      </li>
      <li class="icon-desktop" routerLinkActive="active-li">
        <a class="icon-desktop" [routerLink]="['/usersetting']">
          <img src="../../../assets/images/group.png">

          <!--<i class="far fa-4x fa-clock"></i>-->
          <div class="icon-margin">User Settings</div>
        </a>
      </li>
      <li class="icon-desktop" routerLinkActive="active-li" (click)="logout()">
        <a class="icon-desktop">
          <img src="../../../assets/images/logout.png">

          <!--<i class="far fa-4x fa-clock"></i>-->
          <div class="icon-margin">Logout</div>
        </a>
      </li>
    </ul>
  </div>
</div>
