<div class="filter-box">
  <div class="row">
    <div class="col-md-4">
      <div class="form-group row">
        <label for="startDate" class="col-sm-5 col-form-label">Document Type</label>
        <div class="col-sm-7">
          <input type="text" class="form-control" id="startDate">
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="form-group row">
        <label class="col-sm-5 col-form-label">Start Date</label>
        <div class="col-sm-7">
          <div class="input-group">
            <input class="form-control"
                   name="invoicingDate" [(ngModel)]="startDate" ngbDatepicker #sd="ngbDatepicker">
            <button class="input-group-addon" (click)="sd.toggle()" type="button">
              <i class="far fa-calendar-alt"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="form-group row">
        <label class="col-sm-5 col-form-label">End Date</label>
        <div class="col-sm-7">
          <div class="input-group">
            <input class="form-control"
                   name="invoicingDate" [(ngModel)]="endDate" ngbDatepicker #ed="ngbDatepicker">
            <button class="input-group-addon" (click)="ed.toggle()" type="button">
              <i class="far fa-calendar-alt"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="text-right">
    <button class="btn btn-primary">
      <i class="fa fa-search m-r-5"></i>
      Search
    </button>
  </div>
</div>