<div class="row">
    <div class="col-md-6">
      <ng-template #content let-c="close" let-d="dismiss">
        <div class="modal-header">
          <h4 class="modal-title" style="color: #ffffff;">Document Setting</h4>
          <button type="button" class="close" aria-label="Close" (click)="c('Cross click')">
            <span aria-hidden="true" style="color: #ffffff;">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="border-modal1 col-md-8" *ngIf="showFirst">
              <div class="row" style="margin-top: 10px">
                <div class="col-md-12">
                    <span>Document Type</span>
                    <input style="margin-top: 10px" class="form-control" [(ngModel)]="documentType" name="newDocument">
                </div>
              </div>
              <div class="row" style="margin-top: 10px">
                <div class="col-md-12">
                  <span>Document Description</span>
                  <input style="margin-top: 10px" class="form-control" [(ngModel)]="documentDetail" name="documentDetail">
                </div>
              </div>
              <div class="row">
                <div class="button-modal2 col-md-12">
                  <button class="btn-primary" (click)="showSecondModel()">Next</button>
                </div>
              </div>
            </div>
            <div class="border-modal1 col-md-8" *ngIf="showSecond">
              <div class="row" style="margin-top: 10px">
                  <!--<div class="col-md-5">-->
                      <!--<span>Document Field List</span>-->
                  <!--</div>-->
                  <div class="col-md-6 field-lists">
                      <!--<ul>-->
                          <!--<li *ngFor="let field of Field; let index = index" pDraggable="Field"-->
                              <!--(onDragStart)="dragStart($event,field)" (onDragEnd)="dragEnd($event)">-->
                                <!--<div class="row">-->
                                    <!--<div class="col-md-2">-->
                                        <!--<span>{{field.name}}</span>-->
                                    <!--</div>-->
                                    <!--<div class="col-md-4">-->
                                        <!--<span>{{field.condition}}</span>-->
                                    <!--</div>-->
                                    <!--<div class="col-md-2">-->
                                        <!--<span>{{field.key}}</span>-->
                                    <!--</div>-->
                                <!--</div>-->
                          <!--</li>-->
                      <!--</ul>-->
                      <p-dataScroller [value]="UpdateField" [rows]="10" [inline]="true" scrollHeight="309px">
                          <p-header>
                              Document Field List
                          </p-header>
                          <ng-template let-field pTemplate="body">
                              <div class="row" style="border-bottom: 1px solid #D5D5D5;">
                                  <div class="col-md-1" style="display: flex; align-items: center">
                                      <a (click)="deleteField(field)"><i class="fas fa-minus-circle" style="color: red;"></i>
                                      </a>
                                  </div>
                                  <div class="col-md-1 i">
                                      <img src="../../../assets/images/field.png">
                                  </div>
                                  <div class="col-md-7" style="margin-left: 18px;">
                                      <div class="row">
                                          <div class="col-md-4">Name:</div>
                                          <div class="col-md-8">{{field.name}}</div>

                                          <div class="col-md-5">Condition:</div>
                                          <div class="col-md-7">
                                              <span class="badge badge-pill badge-secondary">{{field.condition}}</span>
                                          </div>

                                          <div class="col-md-4">Key:</div>
                                          <div class="col-md-8">
                                          <span *ngIf="field.key === 'required'"
                                                class="badge badge-pill badge-success">{{field.key}}
                                          </span>
                                          <span *ngIf="field.key === 'optional'"
                                                class="badge badge-pill badge-danger">{{field.key}}
                                          </span>
                                          </div>

                                      </div>
                                  </div>
                                  <div class="col-md-2 general-flex">
                                      <p-checkbox name="groupname" (onChange)="moveTo(field)" [value]="field" [(ngModel)]="fieldValue" ></p-checkbox>
                                  </div>
                              </div>
                          </ng-template>
                      </p-dataScroller>
                  </div>
                  <div class="col-md-6 user-list">
                       <p-dataScroller [value]="selectedFieldList" [rows]="10" [inline]="true" scrollHeight="309px">
                          <p-header>
                              User Field List
                          </p-header>
                          <ng-template let-field pTemplate="body">
                              <div class="row" style="border-bottom: 1px solid #D5D5D5;">
                                  <div class="col-md-3 i">
                                      <img src="../../../assets/images/field.png">
                                  </div>
                                  <div class="col-md-7">
                                      <div class="row">
                                          <div class="col-md-4">Name:</div>
                                          <div class="col-md-8">{{field.name}}</div>

                                          <div class="col-md-5">Condition:</div>
                                          <div class="col-md-7">
                                              <span class="badge badge-pill badge-secondary">{{field.condition}}</span>
                                          </div>

                                          <div class="col-md-4">Key:</div>
                                          <div class="col-md-8">
                                          <span *ngIf="field.key === 'required'"
                                                class="badge badge-pill badge-success">{{field.key}}
                                          </span>
                                          <span *ngIf="field.key === 'optional'"
                                                class="badge badge-pill badge-danger">{{field.key}}
                                          </span>
                                          </div>
                                      </div>
                                  </div>
                                  <div class="col-md-2 general-flex" >
                                      <p-checkbox name="groupname" (onChange)="moveBack(field)" [value]="field"
                                                  [(ngModel)]="fieldValue"></p-checkbox>
                                  </div>
                              </div>
                          </ng-template>
                      </p-dataScroller>
                  </div>
              </div>
                <hr>
              <div class="row documentfield-add">
                  <p-growl [(value)]="msgs"></p-growl>
                  <p-card title="Document Field">
                      <div class="row fieldName">
                          <div class="col-md-4">
                              <span style="margin-right: 10px">Document Field Name</span>
                          </div>
                          <div class="col-md-8">
                              <input style="margin-top: 10px" class="form-control" [(ngModel)]="fieldName" name="title">
                          </div>
                      </div>
                      <div class="row">
                          <div class="col-md-4">
                              <span style="margin-right: 10px">Document Field Condition</span>
                          </div>
                          <div class="col-md-8" style="margin-top: 10px">
                              <p-dropdown [options]="cities1" [(ngModel)]="fieldCondition"></p-dropdown>
                          </div>
                      </div>
                      <div class="row" style="margin-top: 10px">
                          <div class="col-md-6" style="text-align: end;">
                              <p-radioButton name="groupname" value="required" label="Required"
                                             [(ngModel)]="req"></p-radioButton>
                          </div>
                          <div class="col-md-6" style="text-align: start;">
                              <p-radioButton name="groupname" value="optional" label="Optional"
                                             [(ngModel)]="req"></p-radioButton>
                          </div>
                      </div>
                      <div class="row">
                          <div class="col-md-12" style="text-align: end;">
                              <a (click)="postTable()"><img src="../../../assets/images/plus.png"></a>
                              <!--<a><img src="../../../assets/images/forbidden.png"></a>-->
                          </div>
                      </div>
                  </p-card>
              </div>
              <div class="row">
                <div class="button-modal1 col-md-6">
                  <button class="btn-primary" (click)="showFirstModel()">Back</button>
                </div>
                <div class="button-modal2 col-md-6">
                  <button class="btn-primary" (click)="updateData()">Update</button>
                </div>
              </div>
            </div>
            <div class="border-modal2 col-md-4">
              <div class="button-group">
                <button class="btn-outline-primary btn1" style="border-radius: 30px" (click)="showFirstModel()">1
                </button>
                <button class="btn-outline-primary btn2" style="border-radius: 30px" (click)="showSecondModel()">2
                </button>
              </div>
              <div class="row">
                <div class=" button-group col-md-12" *ngIf="showFirst">
                  <img src="../../../assets/images/contract1.png">
                  <div style="margin-top: 10px; font-size: 23px; font-weight: 100">Create Document</div>
                </div>
                <div class=" button-group col-md-12" *ngIf="showSecond">
                  <img src="../../../assets/images/spreadsheet.png">
                  <div style="margin-top: 10px; font-size: 23px; font-weight: 100">Create Table</div>
                </div>
                <div class=" button-group col-md-12" *ngIf="showThird">
                  <img src="../../../assets/images/company.png">
                  <div style="margin-top: 10px; font-size: 23px; font-weight: 100">Create Company</div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!--<div class="modal-footer">-->
          <!--<button type="button" class="btn btn-outline-dark" (click)="c('Close click')">Close</button>-->
        <!--</div>-->
      </ng-template>
    </div>
  </div>

<button class="btn btn-primary btn-sm" (click)="open(content)" >
<i class="fas fa-pencil-alt" (click)="open(content)"></i>
</button>