<h1 class="title-header">
  Import Documents
</h1>
<hr>
<div class="text-right">
  <button class="btn btn-primary">Import Document</button>
</div>
<app-document-filter></app-document-filter>

<div class="scrollable m-t-20">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Number</th>
        <th>Name</th>
        <th>Salary</th>
        <th>Date</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>One</td>
        <td>Two</td>
        <td>Three</td>
        <td></td>
      </tr>
    </tbody>
  </table>
</div>