@import 'assets/scss/helpers';
@import '~primeng/resources/primeng.min.css';
@import '~primeng/resources/themes/omega/theme.css';

html {
  -webkit-font-smoothing: antialiased;
}

html, body {
  //font-family: 'Kanit' !important;
  font-weight: 300;
  font-size: 14px;
  letter-spacing: 0.4px;
  background: #fdfdfd;

  &::-webkit-scrollbar-track {
    background-color: white;
  }

  &::-webkit-scrollbar {
    color: #f0f0f0;
    width: 6px;
    background-color: #f0f0f0;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #f0f0f0;
  }

  &::-webkit-scrollbar-thumb:hover {
    background-color: #cccccc;
    //opacity: 0.9;
  }
}

.btn {
  padding: 5px 15px;
  &:focus {
    box-shadow: none !important;
  }
}

.filter-box {
  padding: 15px;
  margin-top: 20px;
  border: 1px solid #cccccc;
  background: #fdfdfd;
}

.border-frame {
  padding: 15px;
  border: 1px solid #cccccc;
  background: #fdfdfd;
}

.input-group-addon {
  background: transparent;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  cursor: pointer;
  &:focus {
    outline: none !important;
  }
}

ngb-datepicker {
  box-shadow: none !important;
  outline: none !important;
}

.ui-dropdown .ui-dropdown-trigger {
  padding: 0.3em 0.1em;
}

.title-header {
  font-weight: bold;
  padding-top: 30px;
}

.scrollable {
  overflow-x: auto;
  .table {
    white-space: nowrap;
  }
}

.box-shadow {
  box-shadow: 0 0 1px 0 rgba(61, 119, 180, 0.12), 0 0.25rem 12px 0 rgba(91, 139, 199, 0.24);
}